.topbarCont{
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    max-height: 50px;
    background-color: #000000;
    position: sticky;
    top: 0px;
    .feedLogoCont{
        margin-top: 10px
    }
    .searchBar{
        border: none;
        margin: 8px 0;
        padding: 7px;
        border-radius: 2px;
    }
    .titleName{
        color: #ffffff;
    }
}