@import "~bootstrap/scss/bootstrap";
.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

.appCont{
  background-image: linear-gradient(to bottom right, #ba9f9f , #417090);
  height: 100%;
}