.tupleCont{
    border-left: 4px solid #8DA1B9;
    margin: 10px;
    background-color: #f7f8ff;
    border-radius: 1px;
    padding: 3px 0 10px 8px;
    .nameSec{
        display: flex;
        .nameCont{
            margin-right: 5px;
            color: #938f8f
        }
        .upVotedIcon{
            color: #a94376;
        }
        .upVoteBtn{
            border: 1px solid #a94376;
            color: #a94376;
            background: none;
            border-radius: 4px;
            font-size: 11px;
        }
    }
    .voteSec{
        display: flex;
        .rankCont{
            // border: 0.5px solid #EF959C;
            background-color: #8DA1B9;
            border-radius: 8px;
            padding: 3px;
            color: #ffffff;
            font-size: 11px;
            padding: 3px 5px;
        }
        .totalVotesCont{
            // border: 0.5px solid #EF959C;
            background-color: #8DA1B9;
            border-radius: 8px;
            padding: 3px;
            color: #ffffff;
            font-size: 11px;
            margin-left: 6px;
            padding: 3px 5px
        }
    }
}